:root{
    --blue-green:#24C6DC;
    --dark-blue:#514A9D;
    --white:#ffffffd5;
    --blue-invisible:rgba(17, 56, 228, 0.568);
    --blue-light:#049bff;
    --blue-light-invisible:#0888f098;
    --blue-normal:#0717ff;
    --blue-normal-invisible:#1d04ffa1;
   
   
    
    --grey-light:#b0b0b3c2;
    
    
}
.area{
    position: fixed;
    z-index: -5;
    background:linear-gradient(135deg, var(--blue-green), var(--dark-blue));  
    width: 100vw;
    height:150vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--blue-invisible);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;

}

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow-x: hidden;

}

section{
    padding: 6rem 0;
}


a {
    text-decoration: none;
    color: #eee;
}

p {
    font-size: 1.8rem;
    font-weight: 300;

}

img {
    width: 100%
}


header {
    width: 100%;
    height: 100vh;

}

.top-nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100vh;
    background-color: var(--blue-light);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
    z-index: 1400;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   


}

li {
    margin: 0 2rem;
}




.nav-link {
   
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    padding: 1rem;
    transition: background-color 950ms;

}


.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, var(--blue-green), var(--white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}



.section-heading {
    margin: auto;
    width: 70%;
    background-color: var(--grey-light);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: var(--blue-light);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;

}

.section-heading h1::before,
.section-heading h1::after {
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white)
}

.section-heading h1::before {
    width: 40rem;
    height: 3px;
    border-radius: .8rem;
}
.section-heading h1::after {
    width: 1.5rem;
    height:  1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--blue-invisible)
    




    

}
.has-margin-right{
    margin-right: 5rem;
}

.has-margin-left{
margin-left: 5rem;
}





.top-nav.open {
    top: 0;
    border-radius: initial;

}

.menu-burger {
    position: absolute;
    position: fixed;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-burger.open {
    transform: rotate(-45deg);
}

.bar {
    background: linear-gradient(to right, #6a6b6b, #fffeff);
    width: 100%;
    height: 4px;
    border-radius: .8rem;


}

.bar.half {
    width: 50%;
}


.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);

}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);

}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);

}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);

}



.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    

}

 .landing-text h1 {
    font-size: 15rem;
    font-family: 'Pacifico', cursive;
     background: linear-gradient(to top, #fafaface, #999898);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none; 
} 

.landing-text h6 {
    font-size: 3.5rem;
    font-weight: 300;
}


.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.3);

}


.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
}

.profile-img {
    flex: 1;
    margin-right: 5rem;
    
}

.about-details {
    flex: 1;
    background: linear-gradient(#3a5199b0,#0833f0c2);
    border-radius: 2rem;
    padding: 8rem 2rem 2rem 4rem;
    text-align: center;
}


.social-media {
    margin-top: 5rem;
}

.social-media i {
    font-size: 5rem;
    transition: color 950ms;
}

.fa-facebook-square:hover {
    color: #4267b2
}

.fa-twitter-square:hover {
    color: #38a1f3;
}

.fa-github-square:hover {
    color: #ea4c89
}





.my-skills {
    margin-top: 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;

}



.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.skill h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 2rem -2px 2rem 0;
}

.skill p {
    margin-bottom: 4rem;
    max-width: 35vw;
}

.icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid var(--blue-normal);
    background-color: var(--blue-light-invisible);
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);

}



.icon-container i {
    color: var(--blue-normal);
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);

}


.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}



.portfolio-item:last-child{
    margin-bottom: 0;
}



 .portfolio-img{
    box-shadow: 15px 15px 5px #0b0b1b;

flex: 1;
width: 50rem;
} 

.portfolio-description{
    flex: 1;
    background: linear-gradient(var(--blue-light-invisible),var(--blue-light));
    padding: 1rem;
    
    border-radius: 2rem;
    box-shadow: 15px 15px 15px #25252585 ;
    height: 65vh;
   
}
.portfolio-description h6{
   font-size: 1.5rem;
   text-transform: uppercase;
   font-weight: 300;
   opacity: 0.3;
}
.portfolio-description h1{
    font-size: 3rem;
    margin: 1rem 0;
    font-weight: 300;
}

html body .portfolio-description p{
    font-size: 2.5rem;
}
.tagcloud ul{
    margin: 0;
    margin-top: 2rem;
	padding: 0;
    list-style: none;
    
}
.tagcloud ul li{
    display: inline-block;
	margin: 0 .3em .3em 0;
    padding: 1rem;
    background-color: var(--blue-normal);
    font-size: 2rem;
    border-radius: 1rem;
    transition: color 950ms;

}
.tagcloud ul li:hover{
color: var(--blue-normal);
background-color: var(--white);

}

.portfolio-description .cta{
display: inline-block;
margin-top: 2.5rem;
font-size: 1.5rem;
text-transform: uppercase;
color: #1b1b6d;
transition: color 650ms;
}
body .portfolio-description p{
    font-size: 2rem;
}
.portfolio-description .cta:hover{
    color: var(--blue-green);
}
.timeline ul{
border-left: 4px solid #ffe838;
border-radius: .8rem;
background-color: rgba(0, 0, 0, 0.05);
margin: 0 auto;
position: relative;
padding: 5rem;
list-style: none;
text-align: left;
width: 70%;
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;

}

.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}
.timeline .date:last-of-type{
padding-bottom: 0;
margin-bottom: 0;
border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;

}
.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #fd57bf;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;

}

.cadre {
	
	
	padding: 10px;
	border: 2px solid var(--dark-blue);

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	

	
}


legend{
    font-size: 5rem;
}




form{
    width: 70%;
    margin: 0 auto;
}

form label{
font-size: 1.5rem;
}

input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #fd57bf
}

#submit{
    width: initial;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 950ms;

}

#submit:hover{
    color: #221e3f;
    background-color: #ffe838;
}

.copyright{
    width: 100vw;
    text-align: center;
    background-color: #0b0b1b;
    padding: 2rem 0;
    position: relative;

}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    border-radius: 100%;
    right: 5rem;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    color: #16162d;
    font-size: 2rem;
margin: auto;
}



.copyright p{
    font-size: 1.4rem;
	

}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 var(--blue-green)
    }
    70%{
        box-shadow: 0 0 0 2rem var(--blue-invisible)
    }
    100%{
        box-shadow: 0 0 0 0 var(--blue-light)
    }
    }


  

    @media screen and (max-width:768px){

        body {
            overflow-x: hidden;
        
        }
        .section-heading h1::before {
            width: 15rem;
            height: 3px;
            border-radius: .8rem;
        }
        .landing-text h1{
            font-size: 6rem;

     
        }

        .landing-text h6{
            font-size: 1.7rem;

        }
        .nav-list{
            flex-direction: column;
        }
        li{
            margin: 2rem 0;
        }
        .nav-link{
            font-size: 4.5rem;
        }
        .about-heading h1{
            font-size: 8rem;
        }
        .section-heading h1{
            font-size: 3rem;
        }
        .about-details .nav-list{
            flex-direction: initial;

        }
        .about-details li{
            margin: 0.2rem;
        }
        .icon-container{
            width: 7rem;
            height: 7rem;
        }
        .icon-container i{
            font-size: 4rem;
        }
        .timeline ul{
            margin: 0 0 0 auto;
        }
        .timeline .date::before{
            left: -20rem;
        }
        .timeline .date::after{
            left: -5.9rem;
        }
        .menu-burger{
            position: absolute;
        }
        .profile-img{
                margin: 0 0 7rem 0;
            }

            .portfolio-item{
                flex-direction: column;
            }
            .portfolio-img{
                width: 100vw;
                margin: 0 0 2rem 0;
                order: 1;
                box-shadow: none;
            }

            .portfolio-description{
                margin: 0;
                order: 2;
            }
    }
        @media screen and (max-width:600px) {
            .menu-burger{
                top: 2rem;
                right: 2rem;
                
            }
            .landing-text h6{
                font-size: 1.4rem;
            }
            .nav-link{
                font-size: 3rem;
            }

            .about .container{
                flex-direction: column;
            }
            
            .timeline p{
                font-size: 1.5rem;
            }
            .timeline .date::before{
                font-size: 1.4rem;
            }
            form{
                width: 100%;
            }

            .up{
                right: 2rem;
            }




        }


    
